[2012-02-29 15:04] rrnewton opened #1 "Stack overflow in abstract deque tests"
Currently, cf85070e6b, it needs a big stack size bump to pass its tests.

[2012-02-29 15:10] rrnewton opened #2 "Non-deterministic failures in ChaseLev"
Currently, cf85070e6b, the ChaseLev implementation doesn't work reliably.

No leads at the moment on where the bug might be.

The implementation is a straightforward transcription of the psuedocode in the original paper:

[code]

[2012-11-26 07:52] rrnewton opened #4 "MichaelScott: put back re-reading for "hand over hand" locking"
It's not just an optimization, but rather is needed for correctness.

[2013-06-24 18:08] #2 closed, assigned to nobody

[2013-06-24 18:50] rrnewton opened #5 "Consistent failure of a push/pop when debug wrapper is on"
Here is a [standalone test](https://github.com/rrnewton/haskell-lockfree-queue/blob/7b8c8439087ba4651c41d2a1d4bc26be6e37e989/ChaseLev/RegressionTests/Issue5.hs)

It can be reproduced with something like this:

    GHC=ghc-7.6.3
    cd ChaseLev
    cabal-1.17.0_HEAD install --disable-executable-profiling --disable-library-profiling --disable-documentation --force-reinstalls ../AbstractDeque/ --with

[2013-06-25 19:28] rrnewton opened #6 "ChaseLev test_random_work_stealing can get a bad checksum"
Either too low or too high.  This has been the main bug that I've been investigating in [the DEVLOG](../blob/8050a58358c89e6c6edfc9383fcf4a327382c038/ChaseLev/DEVLOG.md).

I was hopeful that it would have the same underlying cause as Issue #5, but it is closed and this bug remains.  As mentioned in the DEVLOG, running this enough times will trigger it:

[code]

An example revision where this fails

[2013-07-10 04:42] snoyberg opened #7 "Tests fail on GHC 7.4.2"
Relevant log excerpts:

[code]

This is affecting my 7.4.2 Stackage run. If this is not something you intend on resolving, I'll add abstract-deque to the expected failures list, please let me know what you'd prefer.

[2013-07-13 17:43] robstewart57 opened #8 "unknown symbol `cas' when linking against atomic-primops"
I'm experiencing a linking error, with ghc failing to find the `cas` symbol.

[code]

Having read [this](https://github.com/rrnewton/haskell-lockfree-queue/blob/master/AtomicPrimops/cbits/primops.cmm#L12) , I see that the `cas` symbol is defined on my Linux machine in `$HOME/sw/ghc/ghc-7.6.3-BUILD/lib/ghc-7.6.3/include/stg/SMP.h` . I've tried (to no avail) the `--extra-include-dirs` flag when comp

[2013-07-17 22:16] robstewart57 opened #9 "atomic-primops does not compile with ghc-7.4, problem with Any type"
I've spotted [this commit](https://github.com/rrnewton/haskell-lockfree-queue/commit/ee9aeea1ab3be5c8657dd25d77fe9df36501ac52) that suggests the `Any` type should not cause issues with GHC-7.4. However, at least on Linux, the following is me trying with 7.4 and failing, then 7.6 and succeeding:

[code]

[2013-07-18 00:00] robstewart57 opened #10 "Libraries that use Template Haskell cannot use atomic-primops (cas symbol problem)"
Libraries or programs that use Template Haskell will not be able to use the atomic-primops library. The root cause is a combination of two things. First, need to use `-threaded` for code that ultimately uses atomic-primops, as described in [this issue](https://github.com/rrnewton/haskell-lockfree-queue/issues/8). Second, Template Haskell runs at compile time, via a bytecode interpreter, GHCi. This

[2013-07-19 15:27] #8 closed, assigned to nobody

[2013-09-13 14:00] toddaaro opened #12 "install_all.sh failure with ghc 7.6.3 and cabal-dev"
On a mostly fresh ghc-7.6.3 Ubuntu 13.04 machine running the install_all script as `CABAL=cabal-dev ./install_all.sh` fails with:

[code]

The specific error for test-atomic-primops was:

[code]

[2013-10-02 04:08] tibbe opened #13 "Remove abstract-deque library dependency on test-framework"
Does the library (not the included test suite) need to depend on test-framework? Right now test-framework doesn't build so neither does abstract-deque-0.2.2 and a few dependencies later criterion (which I need right now) doesn't build.

Aside: could you add a

[code]

section to the .cabal file so it's easier to find this page.

[2014-01-13 18:19] jberryman opened #14 "Counter in atomic-primops not atomic"
Tested with 0.4 and whatever's currently in this repo

[code]

On GHC 7.6.3, compiled with `cabal 1.18.0.2` with:

[code]

[2014-02-01 04:48] rrnewton opened #15 "RtsDup.c was calling the wrong implementation of CAS due to a CPP problem. Downstream libs were therefore using non-atomic CAS."
They use the strategy of comparing against the "old" value to see if the CAS succeeded.  Alas, this doesn't work.  You have to actually read the zero flag with `sete`, which is what `__sync_bool_compare_and_swap` does.

For example if 100 threads attempt to change a counter from 0 to 1, only one can succeed, but with the current version more than one may think they succeeded.

This is ultimately t

[2014-02-01 19:34] #15 closed, assigned to nobody

[2014-02-02 00:48] cartazio opened #17 "Travis CI, this project needs it"
HVR and Brent Yorgey have some neat tooling to auto run test suites on several GHC versions, I think this should be adapted to this set of libs (though the fact that they're all in the same repo complicates the scripting I think...)

[2014-02-02 11:34] rrnewton opened #18 "Reference incrCounter returns old not new value, up through 0.5"
This was a bug up until version 0.5.  Fortunately, there was no reason to use the reference implementation!

[2014-02-02 12:36] rrnewton opened #20 "Reference/Unboxed CAS does not return new ticket on success, up through 0.5"
This was another API discrepancy between the different versions of the counter.

It's not totally clear which behavior we should standardize on here.  The real implementation that you actually want to use is Unboxed.  The others are there mostly for testing and benchmarking.  For Unboxed, there's really no reason to have a `CTicket` type in the first place.

It would be unfortunate, therefore, to

[2014-02-02 12:38] rrnewton opened #21 "AtomicPrimops: Docs are not complete"
In particular, with respect to clarifying the issues #18 and #20.  For example, the docs here don't fully cover it:

   http://hackage.haskell.org/package/atomic-primops-0.5/docs/Data-Atomics.html

[2014-02-02 12:46] #20 closed, assigned to nobody

[2014-02-02 12:46] #18 closed, assigned to nobody

[2014-02-02 20:34] #21 closed, assigned to nobody

[2014-02-02 21:07] #14 closed, assigned to rrnewton

[2014-02-03 03:46] rrnewton opened #22 "Triggered GHC gc bug during chaselev test?"
The log from this run [can be found here](http://tester-lin.soic.indiana.edu:8080/job/Haskell-LockFree_master/349/JENKINS_GHC=7.6.3,label=linux-soic/console).

The error was:

[code]

[2014-02-04 03:54] rrnewton opened #23 "[abstract-deque] Observed test hanging/timing out"
This can be found in the following log:

http://tester-lin.soic.indiana.edu:8080/job/Haskell-LockFree_master/370/JENKINS_GHC=7.6.3,label=linux-soic/console

This failure is nondeterministic.  Other test runs immediately before and after that one passed.

[2014-02-04 23:21] #13 closed, assigned to nobody

[2014-02-04 23:25] #17 closed, assigned to nobody

[2014-02-04 23:26] #12 closed, assigned to nobody

[2014-02-04 23:26] #10 closed, assigned to nobody

[2014-02-04 23:27] #1 closed, assigned to nobody

[2014-02-05 03:23] #9 closed, assigned to nobody

[2014-02-05 03:42] #7 closed, assigned to nobody

[2014-02-05 03:44] rrnewton opened #24 "[abstract-deque-tests] Remove forkWithExceptions in favor of async package"
We've done this switch for LVish and should do it here too.

[2014-02-05 04:03] #6 closed, assigned to nobody

[2014-02-14 08:34] cartazio opened #26 "jenkins likes to send me emails every night!"

[2014-04-10 13:41] rrnewton opened #27 "For at least GHC 7.6, replace CMM code with straight C code"
Johan (@tibbe) pointed out something I didn't know, "MutableByteArray#" can be sent through the FFI.  Thus it should be possible to move the logic we have in Cmm code into C code, and avoid a DOUBLE function call overhead.

Because the GHC 7.8 primops have this double funcall overhead, they may end up as useless from the perspective of this package.  The hope was to at last avoid the fragility of

[2014-04-10 19:04] jberryman opened #28 "casIORef failing (i.e. returning False) for no apparent reason in GHCi 7.8 (rc2)"
[code]

I tried the same in 7.6.3 but get a linker error (I think that's documented). And when I load code (using `cabal repl` in my project) that uses `casIORef`internally I'm seeing this same behavior, but intermittently; very strange.

I haven't yet checked correct behavior in compiled code.

Finally, a question: barring bugs, is it safe in my code to reason that if a `casIORef` returns `False`

[2014-04-14 02:13] #28 closed, assigned to nobody

[2014-04-14 02:55] rrnewton opened #29 "Pattern of Random test failures on Jenkins matrix build"
Building a large number of configs in the matrix build seems to reveal random spurious failures.  Wiping workspaces completely each time may help.

Here is a sampling of failures:
- [hostname pkg failed to install](http://tester-lin.soic.indiana.edu:8080/job/Haskell-LockFree_master/474/HPC=nohpc,JENKINS_GHC=7.8.2,OPTLVL=-O0,PROF=noprof,THREADING=nothreads,label=linux-soic/console)
- [test-mega-deq

[2014-05-23 15:25] jberryman opened #30 "[lockfree-queue] Can 8fd68789 be released to support GHC 7.8?"
I'd love to be able to depend on this.

[2014-05-29 16:28] jberryman opened #31 "[lockfree-queue] Pad byte array with two cachelines to avoid false sharing in AtomicCounter"
I played with a branch jberryman@23497b4cab6b714fdceebab16cf9e372c5da2c7a that implements the atomic counter with a padding of 64bytes on either side, so that it always sits in its own cache line (at least hopefully on x86, where `AtomicCounter` is most useful anyway).

In criterion benchmarks of a counter-based queue I'm working on I get a 17 - 23% improvement in runtime on those benchmarks where

[2014-06-16 17:49] robstewart57 opened #32 "Feature request: get length of a ChaseLev deque"
For implementing work stealing on networks of machines, a common technique is to use minimum watermarks. That is, on receiving a message from another PE to ask for work, the scheduler may want to know if it has a minimum number of sparks before they give some away.

The current ChaseLev implementation does not allow a scheduler to inspect the number of elements (sparks in this case). It might look

[2014-08-18 18:30] rrnewton opened #36 "[abstract-deque-tests] Running out of OS threads"
E.g.:

http://tester-lin.soic.indiana.edu:8080/job/Haskell-LockFree_dataStructs/113/HPC=nohpc,JENKINS_GHC=7.8.3,OPTLVL=-O2,PROF=noprof,THREADING=threads,label=linux-soic/console

These tests do a bunch of fork-join rounds. Maybe there's some way we should be waiting for OS threads to be GC'd before moving on to the next fork-join round?

This might be related to #24

[2014-10-04 19:30] freeman42x opened #37 "Cabal install error - HSatomic-primops-0.6.0.6.o: unknown symbol `store_load_barrier'"
When doing a `cabal install` on `yesod-core` the following error is thrown when linking `atomic-primops`:

[code]

Version: atomic-primops-0.6.0.6,  yesod-core 1.4.1.1

$ ghc --version
The Glorious Glasgow Haskell Compilation System, version 7.8.3

$ cabal --version
cabal-install version 1.20.0.3
using version 1.20.0.2 of the Cabal library

Operating system: Windows 8.1

[2014-11-05 19:44] jberryman opened #39 "[atomic-primops] Please clarify whether atomic operations are barriers or not"
It would be nice to know whether or not `casIORef`, `fetchAddByteArray`, etc. represent memory barriers, or not, at the compiler level. In other words, may GHC reorder stores or loads across these operations, regardless of whether the underlying primop is a barrier on a particular architecture? Or like `atomicModifyIORef` do they guarantee some ordering?

There's mention of how the read operations

[2014-11-06 03:38] #37 closed, assigned to nobody

[2014-11-10 22:02] #39 closed, assigned to nobody

[2015-01-02 03:25] jberryman opened #40 "[atomic-primops] Bugs and build problems on 7.10 RC1"
We need `base` 4.8 If we manually ignore the base constraint, we get:

    jberryman /tmp/atomic-primops-0.6.1 » cabal install --only-dependencies -w /usr/local/bin/ghc-7.10.0.20141222 --allow-newer                                                                                                              1 ↵
    Resolving dependencies...
    Notice: installing into a sandbox located at
    /tmp/

[2015-01-02 15:34] rrnewton commented on #40
Thanks, I'm taking a look.  By the way, what version of cabal-install was this?

[2015-01-02 17:24] jberryman commented on #40
Thanks for looking into it. I just upgraded `cabal-install`:

    jberryman /tmp/atomic-primops-0.6.1 » cabal --version
    cabal-install version 1.20.0.6
    using version 1.20.0.3 of the Cabal library

Aside from the `base` constraint, this seems like it is some sort of weird cabal issue or maybe something wonky with my install, but I don't know.

[2015-01-02 17:34] jberryman commented on #40
(Oh, and a bit off topic, but I've been trying to figure out if there have been any interesting developments vis a vis `atomic-primops` in 7.10? Making them inline primops or something?)

[2015-01-02 19:41] rrnewton commented on #40
With cabal install head (1.22.0.0), and 7.10 RC1 on linux, the atomic-primops library installs and passes tests for me on Linux, e.g. when I run with:

    cabal-1.22.0.0 install -w ~/opt/ghc-7.10-rc1/bin/ghc --run-tests ./ ./testing/

(I'm waiting for 7.10 to build on my laptop to test on Mac as well.)

However, I did see 2/107 test failures on this linux machine that need to be investigated.

[c

[2015-01-02 19:47] rrnewton commented on #40
Huh, in some combinations of messing with sandboxes I can get this error:

[code]

But I haven't reproduced the same error as you got with cabal-1.20.0.6.  Instead I'm currently having problems like this:

[code]

[2015-01-02 20:03] rrnewton commented on #40
Small update.  If I build without a sandbox, I get to the same point with cabal-1.20.0.6 as I did with the HEAD version.  That is, it installs fine and 2/107 tests fail.

[2015-01-02 20:15] rrnewton opened #41 "[atomic-primops] Change in `fetchAddIntArray#` in GHC 7.10"
Ok, it looks like maybe this is an intentional change in behavior for `fetchAddIntArray#`, @tibbe?

Following some precedent or existing code (I forgot which!), I'd made the original version return the AFTER value not the BEFORE value.  Thus the code for incrCounter was:

[code]

It looks like the 7.10+ version of fetchAddIntArray# returns the BEFORE value.  GCC provides both, `fetch_and_add` and

[2015-01-02 20:16] rrnewton commented on #40
I factored out the failure of `Unboxedbasic1_incrCounter` into issue #41.

I still need to look at the `casmutarray1` failure.

[2015-01-02 20:16] #30 closed

[2015-01-02 20:18] tibbe commented on #41
Sounds good to me. Sorry about the breakage.

[2015-01-03 01:04] jberryman commented on #40
Thanks for looking into this so quickly. FWIW the main issue I was having was unrelated to atomic-primops (I describe what I had to do to get a working 7.10 [here](http://www.reddit.com/r/haskell/comments/2r5o7h/workedforme_instructions_for_trying_out_ghc_710/)). I'll close this since you've released the updated base constraint version, and you have a separate ticket for the issue you uncovered.

[2015-01-03 01:05] jberryman commented on #40
Sorry, changed my mind; I'll let you close this when you're ready :)

[2015-01-03 01:11] jberryman commented on #41
Is that how all of the new `fetchAnd*` functions behave? If so that's good, I think, since e.g. for the `fetchAnd`, `fetchOr`, etc. we can determine the value *after* if the value *before* the atomic op, but not vice versa. And so maybe the naming and behavior of what we have in `atomic-primops` should be reconsidered? (obviously we can't just change the functionality of `fetchAddByteArray`; that

[2015-01-03 03:09] jberryman commented on #41
Sorry, I didn't read your comment properly, @rrnewton.

Literally just yesterday I made a commit in my lib that got rid of the upper bounds on `atomic-primops`... ugh. Can we think of any other names that would be equally good that you can use going forward (with this new behavior), and just deprecate `incrCounter` and `fetchAddByteArray` (keeping the old behavior there)?

I've been very paranoid

[2015-01-03 16:01] rrnewton opened #42 "[atomic-primops] casmutarray1 test failure in GHC 7.10"
As mentioned in #40, this was one of the two tests that failed under GHC 7.10.  It needs to be investigated.

[2015-01-03 16:03] rrnewton commented on #40
Sure, either way, I see this ticket as for the cabal incompatibility you cited.  So I changed the title to that effect.  Currently I have not successfully reproduced that using cabal-install 1.20.0.6 / Cabal 1.20.0.3.  Can you get that same error reproducably?

I also added #42 for the other failed test and a "ghc-7.10" milestone for all issues related to GHC 7.10 support.

[2015-01-03 16:16] rrnewton opened #43 "[atomic-primops] Expose and test new atomic primops in GHC 7.10"
GHC 7.10 includes several new primops.  You can see which by comparing these two interfaces:

 * https://downloads.haskell.org/~ghc/7.8.3/docs/html/libraries/ghc-prim-0.3.1.0/GHC-Prim.html
 * http://downloads.haskell.org/~ghc/7.10.1-rc1/docs/html/libraries/ghc-prim-0.3.1.0/GHC-Prim.html

Each one of these needs to be exposed in and end-user friendly way in the IO monad, and tested accordingly.  @t

[2015-01-03 17:14] #40 closed

[2015-01-03 17:39] jberryman commented on #41
I propose the following; let me know your thoughts:

1.  Just using the names from `GHC.Prim` for the `fetch*` functions. So `fetchAddByteArrayInt` would be deprecated, with CPP conditionals to keep the behavior the same through 7.10. While a new wrapper named `fetchAddIntArray` would take its place with the new behavior (again conditionally bringing this NEW behavior to GHC <7.10). Likewise for t

[2015-01-03 18:30] jberryman commented on #43
I can help with this; I plan to play with some of the other `fetch*` functions in coming days/weeks. Here are the new things, AFAICT:

**Reads/writes with implied barriers** (@tibbe or someone: what's the benefit of these over using a normal read/write + one of the barriers exported here? I see we don't have `writeBarrier` and `loadLoadBarrier` exposed in `ghc-prim` yet):

- [ ] atomicReadIntArray

[2015-01-03 20:16] tibbe commented on #43
I can give advice, if needed. Otherwise I'm not sure how I can help. :)

[2015-01-04 12:21] rrnewton commented on #41
This sounds like a good plan to me.

My inclination would be to get rid of the `Data.Atomic.Counter.*` alternatives, which were just there for benchmarking, but leave the `Data.Atomic.Counter` for now.  I agree, it should have gone in a separate package.  (Moreover, there should be a proper package of several different counter variants, including scalable counters like SNZI, which we've implemente

[2015-01-04 13:09] rrnewton commented on #43
Thanks for the offer to help, Brandon!  I added you as a collaborator on this repo, or feel free to make pull requests if you prefer.

Well, I guess there are really three parts to this:

 * the basic wrapper that exposes a Primop at the IO level
 * testing that wrapper/primop
 * benchmarking

And help with any or all of those is welcome.  Johan, do you have some other place that you have tested/b

[2015-01-04 13:15] rrnewton commented on #43
Aha, I see that many of these wrappers already exist in the GHC testsuite, in [AtomicPrimops.hs](https://github.com/ghc/ghc/blob/f2939312851f3a328b99cc2b2743e645b6aa7bb8/testsuite/tests/concurrent/should_run/AtomicPrimops.hs), so we can just steal them from Johan's code there.  Also, it doesn't actually hurt to duplicate that test code probably...

[2015-01-04 13:23] rrnewton commented on #43
Actually, Johan, the more I look at your 7.10 changes the more extensive they seem -- native code x86 support, *and* LLVM, *and* out-of-line fallbacks for all codegens.  Nice.  Have all of those variants passed the tests (e.g. Sparc and PPC)?

[2015-01-04 13:33] rrnewton commented on #43
Brandon, I don't have a good answer for your question about reads/writes with implied barriers, but maybe Johan does.  I'm afraid I don't use those and I don't actually know if an Intel architecture treats a load followed by a full barrier any differently than an atomic load (i.e. with the "lock" prefix in asm?).

However, what should make a big performance difference in our current implementation

[2015-01-04 13:43] tibbe commented on #43
IIRC I did benchmark manually when I added the primops, but probably not as thoroughly as I had (I only had a little bit of time to add the primops). I checkout that we output the same assembly code as GCC I think. Help benchmarking would be appreciated. It's a bit annoying that GHC doesn't have good support for *timing* benchmarks in the test suite.

Except they seem to fail for newer GCCs as the

[2015-01-14 22:18] jberryman commented on #41
@rrnewton sorry for the delay, I'm just starting on some of this work this evening. I see you moved the counter alternatives to `other-modules`; is it okay to remove them and start simplifying the test suite, etc? I'm also planning on adding a benchmark suite, so I can just do a `git mv` of those modules there if we only want them as a baseline for benchmarking.

I thought I might do some work tha

[2015-01-14 23:06] jberryman commented on #42
It seems to me this was a testing bug; the code had:

[code]

When I change the last two lines above to `4` as well the test passes. AFAICT the behavior of the original was undefined and shouldn't be expected to work. If that sounds right I'll close the ticket when I commit.

[2015-01-15 15:56] rrnewton commented on #42
Yes, indeed, that looks like a simple bug in the test!  Thanks for catching it.

[2015-01-15 16:10] rrnewton commented on #41
Sounds good to me, including removing/moving the other counters.  Yes, they were mainly there for benchmarking.

It's mentioned somewhere that this separate `./testing/` director was a work-around for cabal/GHC problems (maybe it was haskell/cabal#1284).  My takeaway was that foreign primops were not actually used by very many cabal packages and we were stressing corner cases.  With new versions o

[2015-01-15 20:45] #42 closed

[2015-01-15 21:46] #41 closed

[2015-01-15 21:54] jberryman commented on #41
I think at this point (af637d7ebf59) if you wanted to do a release we can have a version that works fully with 7.10, while we work on #43. Also @rrnewton can you edit the metadata for 0.6.1.1 so that it reverts the constraint to `base (>=4.6.0.0 && <4.8.0.0)`?

[2015-01-15 21:58] jberryman commented on #41
Sorry, by "edit the metadata" I mean edit the cabal file for that version directly on hackage via [the "edit package information" button](http://hackage.haskell.org/package/atomic-primops/maintain). That way we don't have a version with different counter/fetchAdd behavior that needs to be blacklisted in other modules.

[2015-01-16 03:48] rrnewton commented on #41
Ok, I adjusted the version constraint and checked that off in the checklist above.  I released the new version as "0.7" (following PVP, since it removes modules, even though it doesn't add all the new stuff yet).

I also added you as a maintainer on the hackage package in case I messed anything up or there's anything else you need to do.

[2015-01-17 16:00] peti opened #44 "Cannot find module "Data.Atomics.Counter.Unboxed""
chaselev-deque-0.5.0.3 doesn't seem to compile with GHC 7.8.4 on Linux/x86_64: http://hydra.cryp.to/build/467361/nixlog/1/raw.

[2015-01-19 23:17] jberryman commented on #44
Oops, my fault; I should have checked what other packages in this repo were affected by 4a264199. PR is coming

[2015-01-20 00:09] jberryman commented on #43
@rrnewton I was imagining implementing the backwards compatible versions of these new functions in terms of the `cas` that we expose, but now that I've started I remembered of course that what we do is copy their implementations in `cbits/primops.cmm`. So dumb question: is that what we want to do with these new `fetch*` functions? Or do we not want to mess around with that if we don't have to?

An

[2015-01-20 01:00] rrnewton commented on #43
Personally I think it's fine if the *new* primitives are only for the new (7.10) GHC. Sure, ideally they could be backported to old GCC as foreign primops, but the need does not seem pressing.  By the time any libs actually use them seriously I bet everyone will have moseyed along to 7.10 anyway ;-), and if I'm wrong we could work on the backporting them at a later date.

[2015-01-20 01:13] jberryman commented on #43
Okay, great. Then if it's okay with you I think I'll implement them with a CAS loop for <7.10; I think that should be very straightforward and save people some headaches.

And maybe I should emit a warning in the case that we've fallen back to a CAS loop for those functions, since the behavior under contention is different, and users of the lib seem more likely to care about that sort of thing. Wh

[2015-01-20 03:05] rrnewton commented on #43
Yeah, both sound good to me!

On Mon Jan 19 2015 at 8:13:08 PM Brandon Simmons <notifications@github.com>
wrote:

[2015-01-20 13:49] peti commented on #44
Can you please release the new version to Hackage?

[2015-01-21 04:56] jberryman commented on #43
@tibbe Any ideas as to the best way to get `atomicRead/WriteIntArray` for GHC < 7.10? I can't get a full a barrier with a `write/readByteArray` + the barriers we have exposed (`storeLoadBarrier`, `loadLoadBarrier`, `writeBarrier`).

The only idea I have is to use maybe `(\a offs-> fetchAddIntArray a offs 0)`  for `atomicReadIntArray`, and I guess a CAS loop for `atomicWriteIntArray`, although that

[2015-01-22 02:57] jberryman commented on #43
FYI I'm working on the `fetch*` tests, and will try to make a PR tomorrow. If there's no better solution for `atomicRead/WriteIntArray` I'll implement some sort of approach like above, with `WARNING` pragmas. I guess that's slightly better than making the export list conditional.

[2015-01-22 22:24] peti commented on #44
Ping?

[2015-01-23 19:48] tibbe commented on #43
@jberryman you only need a barrier for one of them (I suggest the write). I'd use a CAS for the write.

[2015-01-24 01:49] jberryman commented on #43
@tibbe Oh I remember you mentioning:

...and I meant to follow up. So first of all there's the issue of the re-ordering that GHC does. If I understood you, however they're implemented ensures GHC won't move any reads or writes across them?

On the hardware level, are you sure we need only one barrier? I think I *may* see what you mean, but my brain is a little foggy right now: x86 only moves store

[2015-01-24 01:54] tibbe commented on #43
As long as they're implemented out-of-line, as a C call or a mach op inside GHC, GHC won't move anything across.

I don't quite remember the details (but I remember the conclusion), one should be enough.

I don't think that's a correct expectations. The guarantees for ordering apply to data race free programs and if you throw in a non-atomic operation on the same memory location your program is no

[2015-01-24 02:28] rrnewton commented on #43
Does the problem in that test case stem from a busy-wait that does not allocate?  GHC had a bug (IMHO) where IO threads that don't allocate could never be preempted, potentially starving other threads.  I don't know if this has been fixed.

[2015-01-24 15:56] jberryman commented on #43
@tibbe , thanks for the reply

This is confusing. When I read "Implies a full memory barrier" I assume normal reads and writes won't be moved across.

Is the only guarantee we have that if we restrict ourselves to some subset of operations, that they will be ordered with respect to each other? If so what is that subset (`atomicRead/WriteIntArray` + the `fetch` + `cas` operations?)?

And the `fetch

[2015-01-24 16:04] jberryman commented on #43
@rrnewton

Yeah, that's the issue I was referring to as well. Inserting a `yield` into the busy wait, or compiling with `fno-omit-yields` doesn't help.

[2015-01-24 16:40] jberryman commented on #43
@rrnewton It seems to me not so important to have the `atomicRead/WriteInt` functions since: we have our memory barrier functions, neither of us have had a need for reads and writes with full barrier, what they're actually supposed to be doing is at this point in time very confusing (to me), and I can't get a test to work.

Also `casSmallArray` I think needs to wait on `primitive`.

Do you think I

[2015-02-24 20:41] jberryman commented on #43
@rrnewton When you have the time, would you consider rolling a new `atomic-primops` release with these changes? I'm working on a new library that will make use of `fetchOrIntArray`.

[2015-03-08 15:44] rrnewton commented on #43
@jberryman -- I am back above water now post ICFP and I can do this soonish.  Also, if you want I added you to the maintainers list so feel free to go ahead and do the release/upload if you get to it first.

[2015-03-08 15:51] rrnewton commented on #44
Thanks for the ping -- unfortunate lapse due to ICFP deadline ;-) -- this should be fixed by the 0.5.0.5 release that is up now.  Could you confirm that it's all good for you now?

[2015-03-08 16:13] rrnewton commented on #44
FYI things look ok on Travis -- https://travis-ci.org/rrnewton/haskell-lockfree/builds/53505277

[2015-03-17 00:32] anthezium opened #48 "Are memory barriers compiler reordering barriers?"
Do storeLoadBarrier and friends have the same compiler reordering guarantees described for the atomic operations in issue 39 (https://github.com/rrnewton/haskell-lockfree/issues/39)?  From what I've read it seems like "foreign import prim" prevents compiler reordering during C-- optimizations, but I have no idea whether "foreign import ccall" also does.  Thanks!

[2015-03-17 21:08] rrnewton commented on #48
The ones implemented as foreign calls are barriers to compiler reordering.  And when they were added as native in 7.10 @tibbe made them callish machops to disable compiler reordering.  But we should double check that for these particular ones.

[2015-04-15 19:24] jberryman commented on #43
Just released what we've got as 0.8. I'm closing this issue. I think folks can open separate issues/requests for the missing `atomicRead/Write` and `casSmall` functions if they want. Hope ICFP went well!

[2015-04-15 19:24] #43 closed

[2015-05-05 00:49] rrnewton opened #50 "Various cabal issues."
## First, there was the issue that lead to separating `test-atomic-primops`

(TODO)

## More recently, there are various different problems w cabal 1.20 and 1.22

[For example](http://tester-lin.soic.indiana.edu:8080/job/Haskell-LockFree_primops/884/HPC=nohpc,JENKINS_GHC=7.8.4,OPTLVL=-O0,PROF=prof,THREADING=threads,label=hive/console):

[code]

[2015-05-05 11:11] rrnewton opened #51 "Saw a genuine nondeterministic test failure"
Most of our failures are jenkins/cabal problems.  But the 7.6.3/profiling/-O0/threads build in the matrix [here](http://tester-lin.soic.indiana.edu:8080/job/Haskell-LockFree_primops/896/HPC=nohpc,JENKINS_GHC=7.6.3,OPTLVL=-O0,PROF=prof,THREADING=threads,label=hive/console) is a genuine test failure:

[code]

[2015-05-13 10:28] peti commented on #44
The new versions work fine: http://hydra.nixos.org/job/nixpkgs/haskell-updates/haskellngPackages.lockfree-queue.x86_64-linux. Sorry for the late response; this fell through the cracks somehow.

[2015-05-13 10:28] #44 closed

[2015-08-06 04:08] nkpart commented on #37
I'm getting this error with the latest atomic-primops and GHC 7.10.2 (was also occurring with 7.10.1).

It's occurring when I build a dependency that uses template haskell.

    ghc.exe: C:\Users\remote.box.VEITCHLISTER\AppData\Roaming\stack\snapshots\x86_64-windows\nightly-2015-08-06\7.10.2\lib\x86_64-windows-ghc-7.10.2\atomic-primops-0.8-GIivgJvnrDJ4SJXGISt8TE\HSatomic-primops-0.8-GIivgJvnrDJ4SJ

[2015-08-20 18:49] rrnewton opened #53 "atomic-primops: can GC duplication of pure objects screw up Tickets and cause false negative?"
How can we construct a test for this?

 

[2015-09-02 17:33] rrnewton commented on #5
This needs a core snippet to show what the problem was.  In the meantime, here is some psuedocode off the top of my head:

[code]

In this example, `tick2` has type `Any Int`.  That is what protects the `tick2` references from having their pointer identity changed by GHC optimizations.  If it were merely, `Int`, of course GHC could unbox and rebox, resulting in a different pointer at the point of

[2015-09-02 21:25] tibbe commented on #5
Sounds sketchy but it might be a better question for SPJ.

[2015-09-08 13:47] rrnewton commented on #5
@mchakravarty confirmed that this is not a GHC bug, it's just how it is.  I don't know the details, but something about there only being one entry in the type environment for `tick2`.  Thus, if there is a visible coercion on `tick2` (because `peekTicket` inlines), then the most specific type for `tick2` will win, and GHC will learn `tick2 :: Int`, and do its pointer-changing unbox/rebox, which lea

[2015-09-08 13:48] rrnewton commented on #5
Reopening until this is fixed "properly".

[2016-01-17 06:10] ekmett opened #55 "atomic-primops: ghc 8 support needed"
I'm updating all my packages for ghc 8-rc1 support, and am stuck on all of them that depend on `atomic-primops`. This seems likely to just be a bump and push.

[2016-01-17 14:33] rrnewton commented on #55
Thanks, @osa1 or @dreamlinuxer, could you push this out?  I'm swamped till Tues morning.

[2016-01-17 16:37] osa1 commented on #55
I started working on this in ghc-8.0 branch, and on the way I found a GHC bug and reported here: https://ghc.haskell.org/trac/ghc/ticket/11444

I'll see if there's an obvious problem to solve but otherwise we may have to wait until this is fixed, as I don't have a lot of time for this. (or maybe we can find a workaround?)

[2016-01-17 16:52] rrnewton commented on #55
Darn, so much for the simple verison bump.

On Sun, Jan 17, 2016 at 11:37 AM, Ömer Sinan Ağacan <
notifications@github.com> wrote:

[2016-01-19 14:53] osa1 commented on #55
This package is actually broken even with GHC 7.8. Try to compile with `--ghc-options=-dcore-lint`.

[2016-02-06 20:13] gitfoxi opened #56 "Build fail on armv8"
GHC 7.10.3, stackage lts-5.1, atomic-primops 8.0.2, architecture: aarch64 (armv8)

[code]

[2016-03-05 16:53] rrnewton commented on #55
OK, right now there's at least a small fix that we can do that affects all `ghc-7.11.XYZ` and `ghc-8.1.XYZ` dev builds we're doing.

This has to do with tolerance of redundant type sigs for foreign imports: https://github.com/rrnewton/haskell-lockfree/commit/19730d601dae28530fb0945688bdc6d9cc535768

[2016-03-05 17:00] rrnewton commented on #55
Pushed that small fix in a minor release: https://hackage.haskell.org/package/atomic-primops-0.8.0.3

[2016-04-08 02:40] rrnewton opened #58 "Need to make barriers inline primops"
Currently the portable code (inline assembly) is in the GHC RTS, and Haskell code needs to make a call into the RTS to issue a barrier.  This is wasteful.

[2016-04-08 02:43] rrnewton commented on #58
@tibbe - when you moved atomic primops to be inline in GHC 7.10, did anything change about this state of affairs?

[2016-04-08 05:09] tibbe commented on #58
I didn't touch the barrier so I'm assuming they're the same as before.

[2016-08-04 08:01] andersk opened #60 "Missing load-store barrier"
Data.Atomics has `writeBarrier` (store-store), `storeLoadBarrier`, and `loadLoadBarrier`, but seems to be missing a load-store barrier. This would be a no-op at the hardware level on x86, but it would still need to prevent compiler reordering.

(I know enough about memory models to be aware that my understanding could be completely wrong—please correct me if so.)

[2016-08-04 16:02] rrnewton commented on #60
good point!

[2016-08-10 17:35] rrnewton commented on #58
@vollmerm -- have we done this?  Or just for storeload barrier?

[2017-01-22 23:20] RyanGlScott commented on #55
I'm closing this since the current version of `atomic-primops` supports GHC 8, and https://ghc.haskell.org/trac/ghc/ticket/11444 has been dealt with separately.

[2017-01-22 23:20] #55 closed

[2017-03-30 00:28] tmcdonell opened #63 "[chaselev-deque] stackage availability"
Any chance of getting chaselev-deque on stackage? It's a dependency of accelerate-llvm.

[2017-03-30 13:32] RyanGlScott commented on #63
I think this could be arranged. There are several @rrnewton packages that have been implicitly brought into Stackage already via `criterion` and others (I count `atomic-primops`, `abstract-deque`, `abstract-par`, `monad-par`, and `thread-local-storage`). It would be nice to have them put on Stackage explicitly, though.

@rrnewton, do you object if I add these packages to Stackage under your name?

[2017-04-24 21:52] RyanGlScott commented on #63
I talked with @rrnewton, and he agreed to let me put these packages under my name on Stackage. I've opened https://github.com/fpco/stackage/issues/2467 to do just this.

[2017-04-25 09:50] RyanGlScott commented on #63
https://github.com/fpco/stackage/issues/2467 has been merged, so `chaselev-deque` should be in Stackage nightly soon.

[2017-04-25 09:50] #63 closed

[2017-04-25 11:34] tmcdonell commented on #63
Thanks! (:

[2017-05-24 05:25] winterland1989 opened #64 "Provide loop wrapper for casArrayElem?"
The `casArrayElem` provide a low-level atomic operations based on `Ticket`, Is there any possibilities to provide a loop wrapper similar to `atomicModifyIORef`? As an user i only care about swapping a new result into array and get the old value out rather than manually compare pointer and looping.

[2017-06-25 04:06] jfischoff opened #65 "Implement multi-item CAS (CASN)"
Multi-item CAS or CASN is the basis for some interesting concurrent data structures. It would be nice if `atomic-primops` provides a CASN (or perhaps CAS2, CAS3 ... CAS10?).

I took a look [A Practical Multi-Word Compare-And-Swap](https://timharris.uk/papers/2002-disc.pdf), but I was unable to implement it. Perhaps someone else can ... or maybe there is more modern method?

[2017-06-25 08:42] DreamLinuxer commented on #65
What blocks you from implementing nCAS? Is it come from haskell or something else?

[2017-06-25 15:40] jfischoff commented on #65
My first attempt was to directly transliterate the paper, which involved lots of direct pointer management and was just too difficult for me. I'm trying a second route that is more Haskelly and I'm making progress. I have hit anything that makes it fundementally impossible woth the current interface, but I'm not finished yet.

[2017-07-23 16:38] RyanGlScott opened #66 "Cut a new atomic-primops release for GHC 8.2.1"

[2017-07-27 04:27] tmcdonell commented on #66
FWIW I have been using 7ac36d701caa759a9f9defd418d8959f4e9c6ef0 with the release candidates and haven't encountered any problems.

[2017-07-31 20:32] RyanGlScott commented on #66
OK, I just obtained Hackage access for this package.

I've uploaded [`atomic-primops-0.8.1`](http://hackage.haskell.org/package/atomic-primops-0.8.1) to Hackage.

[2017-07-31 20:32] #66 closed

[2017-12-10 20:07] robinp opened #67 "testing/Fetch.hs missing from Hackage release"
It seems it never got added?

[2017-12-10 20:30] #67 closed

[2017-12-10 20:32] RyanGlScott commented on #67
Good catch! I've uploaded [`atomic-primops-0.8.1.1`](http://hackage.haskell.org/package/atomic-primops-0.8.1.1) to Hackage with a fix.

[2018-01-03 08:53] qrilka opened #68 "Recursion in haddocks of `atomic-primops`"
In haddocks for `atomicModifyIORefCAS` I see
[code]
How is it possible? I there some fixpoint operator for haddocks? :)

[2018-01-04 00:49] #68 closed

[2018-01-04 00:50] RyanGlScott commented on #68
Good catch, thanks. Fixed in https://github.com/rrnewton/haskell-lockfree/commit/b13b97ec1176a4a9e6db0b871c220abcb054db41.

[2018-01-21 20:53] Lysxia opened #69 "CAS fails with newly created ticket"
Here I create a new `IORef`, get a ticket and immediately compare-and-swap. I expect that to succeed and thus the resulting boolean to be `True`, but it is actually `False`, regardless of optimization levels. The following features seem relevant, and removing any of them results in the output being `True` again:

- the newtype `T`
- binding the initial constant (to be put in the `IORef`) as an `IN

[2018-06-21 01:47] treeowl commented on #5
I think the "right" fix is to get rid of this whole `unsafeCoerce` business. It's very sketchy. The approved magic function for this purpose is `lazy`:

[code]

This doesn't protect the ticket against a user forcing it, however. A more robust solution would be

[code]

The operations handling tickets would have to wrap and unwrap the `Ticket` constructor. The downside, of course, is that performan

[2018-06-21 02:36] treeowl commented on #64
Unfortunately, this can't be implemented terribly efficiently using the low-level atomic operations. Some CMM code will be needed to do it optimally. Given `atomicModifyIORef ref f`, GHC creates a closure (let's call it `q`) representing `f` applied to the old value and two closures to fetch the first and second components of `q`. Writing in Haskell, we'd have to create all three of these closures

[2018-07-22 20:49] treeowl commented on #32
It looks to me like this exists now, as `approxSize`. Can the ticket be closed?

[2018-07-23 08:28] #32 closed, assigned to nobody

[2019-08-11 21:13] jberryman opened #77 "CAS very rarely fails not due to a race, in GHC >= 8.4"
This may be the same as https://github.com/rrnewton/haskell-lockfree/issues/69 but I decided it would be best to report a new bug since my test case is different.

In https://github.com/jberryman/unagi-chan I have some quite paranoid and specific tests for properties I care about in atomic-primops. I've come back to the library after a while and find that one of those tests failed on CI (which I j

[2019-08-11 23:00] jberryman commented on #69
I noticed it returns `False` for both ghc 8.0 and 8.6, and latest atomic-primops. Didn't try others.

[2019-08-11 23:00] jberryman commented on #69
Also, maybe https://github.com/rrnewton/haskell-lockfree/issues/53 ?

[2020-09-22 20:34] treeowl commented on #69
Forcing a ticket really never makes sense the way tickets are defined. The strictness analyzer can get hold of this and say

[code]

All this `unsafeCoerce#` business is very flaky. It makes much more sense to use `lazy` (see #79). The only way I can see to avoid trouble when someone *forces* tickets is to make `Ticket` a datatype instead of a newtype, but then users had better be careful to be st

[2022-08-26 13:05] harendra-kumar opened #83 "[lockfree-queue]: GHC 9.4 support"
I am seeing this error while building lockfree-queue with GHC 9.4.2:

[code]

I am wondering if this patch fixes this issue: https://gitlab.haskell.org/ghc/head.hackage/-/blob/master/patches/lockfree-queue-0.2.3.1.patch .

[2022-08-26 14:01] #83 closed

[2022-08-26 14:07] RyanGlScott commented on #83
Thanks for the bug report. I've uploaded [`lockfree-queue-0.2.4`](https://hackage.haskell.org/package/lockfree-queue-0.2.4) to Hackage with a fix.

[2022-08-26 17:40] harendra-kumar commented on #83
Thanks for instantaneous turnaround!

[2022-10-22 17:17] gelisam opened #85 "Release chaselev-deque-0.5.0.6 on hackage"
The current changelog says:

https://github.com/rrnewton/haskell-lockfree/blob/00a70cfe74994b41eb3627c752170d1e82118a8e/chaselev-deque/CHANGELOG.md?plain=1#L1-L5

But the version on hackage, chaselev-deque-0.5.0.5, does not include [the changes which allow chaselev-deque to build on GHC-9.0 and above](https://github.com/rrnewton/haskell-lockfree/commit/bd458b66e1b28c249628e282ff42e8468646c557). Wo

[2022-10-23 20:54] RyanGlScott commented on #85
Oops, I accidentally skipped `0.5.0.5` when writing the changelog entries in bd458b66e1b28c249628e282ff42e8468646c557. I've done so in de9f9c2499b8342a6dab36b11ecaedef7942c5cc.

Unfortunately, I don't have the necessary permissions to upload new `chaselev-deque` versions to Hackage. @rrnewton, might you able to grant them to me?